[submodule "tools/vc4-toolchain"]
	path = vc4-toolchain
	url = https://github.com/mfp20/vc4-toolchain.git
[submodule "vc4-firmware"]
	path = vc4-firmware
	url = https://github.com/mfp20/vc4-firmware.git
[submodule "vc4-lk"]
	path = vc4-lk
	url = https://github.com/mfp20/vc4-lk.git
[submodule "vc4-gpiod"]
	path = vc4-gpiod
	url = https://github.com/mfp20/vc4-gpiod.git
[submodule "lib"]
	path = lib
	url = https://github.com/mfp20/metalpi-lib.git
